<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627149539958-vpsmoh1k0hl8vqvooh0jr3c1v6hfme91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627149539958-vpsmoh1k0hl8vqvooh0jr3c1v6hfme91</string>
	<key>API_KEY</key>
	<string>AIzaSyA1_petFEFA0vQx6qtdnFnGPLycOujv_Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>627149539958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Neptune-Soluctions.Demo-Form-Rev-03</string>
	<key>PROJECT_ID</key>
	<string>fir-form-rev02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-form-rev02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627149539958:ios:a5939462de51dab80eed57</string>
</dict>
</plist>